<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Клиенты</title>
</head>
<body>
<br>

    Имя : {{ user.name }} <br>
    Логин : {{ user.login }} <br>
    Телефон : {{ user.phone }} <br>
    Адрес : {{ user.address }} <br>
    E-mail : {{ user.email }} <br><br>

</body>
</html>